.container {
    position: relative;
    height: 6.4rem;
    padding: 0 4rem;
    background-color: white;
    color: #4c4c4c;
    font-size: 1.2rem;
    cursor: ponter;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@media only screen and (min-width: 760px) {
}

@media only screen and (min-width: 1024px) {
}