.Breadcrumbs {
    height: 4.2rem;
    max-width: 80vw;
    margin: 0;
    padding: 0 10vw;
    background-color: #f6f6f6;

    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.Breadcrumb {
    margin: 0.6rem 0.6rem 0.6rem 0;
    padding:0.6rem 0.6rem 0.6rem 0;

    display: flex;
    align-content: center;
    justify-content: center;
}
